<div id="<%= dom_id staff %>">
  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>

  <p>
    <strong>Staffid:</strong>
    <%= staff.staffid %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= staff.phone %>
  </p>

  <p>
    <strong>Shift:</strong>
    <%= staff.shift_id %>
  </p>

  <p>
    <strong>Performance:</strong>
    <%= staff.performance %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= staff.salary %>
  </p>

  <p>
    <strong>Promotion:</strong>
    <%= staff.promotion %>
  </p>

</div>
