<div id="<%= dom_id recommendation %>">
  <p>
    <strong>Product:</strong>
    <%= recommendation.product_id %>
  </p>

  <p>
    <strong>Productid:</strong>
    <%= recommendation.productid %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= recommendation.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= recommendation.quantity %>
  </p>

  <p>
    <strong>Sale:</strong>
    <%= recommendation.sale %>
  </p>

  <p>
    <strong>Trending:</strong>
    <%= recommendation.trending %>
  </p>

</div>
